[submodule "thirdparty/raylib"]
	path = thirdparty/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "thirdparty/box2d"]
	path = thirdparty/box2d
	url = https://github.com/erincatto/box2d.git
